* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    position: relative;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    width: 20rem;
}

.quantity {
    height: 30px;
    width: 50px;
    border-radius: 5px;
    padding: 0;
    text-align: center;   
}

.grid-fluid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    align-items: center;
}